[user]
	email = mnlm1991@gmail.com
	name = penggongkui
[push]
	default = current
[credential]
	helper = store

[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto

[alias]
	ci = commit -a
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	br = branch
	co = checkout
[pull]
	rebase = true
